#contact {
  padding-left: 0;
  padding-right: 0;
}

.contact {
  margin-top: 3em;
}

.contact-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: var(--font-size-larger);
}

input[type=radio] {
  all: unset;
  padding: 0.8em 4em;
  background-color: white;
}

input[type=radio]:checked {
  background-color: var(--color-main);
  color: white;
}

#ct-1 {
  border-radius: 12px 0 0 12px;
}
#ct-1::after {
  content: '연락처 보기';
}
#ct-2 {
  border-radius: 0 12px 12px 0;
}
#ct-2::after {
  content: '메시지 남기기';
}

.contact-slides {
  width: 100vw;
  overflow: hidden;
  margin: 1.6em 0;
}
.contact-slide-con {
  display: flex;
  width: 200vw;
  transition: margin-left 500ms;
}
.contact-slide {
  width: 100vw;
}

#ct-1:checked ~ .contact-slides .contact-slide-con {
  margin-left: 0;
}

#ct-2:checked ~ .contact-slides .contact-slide-con {
  margin-left: -100vw;
}

.contact-leave {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  gap: 8px;
}

.contact-leave div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-leave button {
  all: unset;
  height: 48px;
  line-height: 48px;
  color: white;
  background-color: var(--color-sub);
  transition: all 350ms;
}

.contact-leave button:hover {
  opacity: 0.8;
}

.contact-leave button:focus-visible {
  outline: 4px solid var(--color-sub);
}

.contact-leave textarea {
  resize: none;
  padding: 0.6em;
  height: 108px;
}

.contact-leave input {
  padding: 0 0.6em;
  height: 48px;
  line-height: 48px;
}

.contact-leave textarea,
.contact-leave input[type=email] {
  margin: 0;
  font-size: var(--font-size-text);
  border: 2px solid var(--color-light-bd);
  box-sizing: border-box;
}

.contact-leave textarea::placeholder,
.contact-leave input[type=email]::placeholder {
  color: var(--color-lighter);
}

.contact-leave textarea:focus-visible,
.contact-leave input[type=email]:focus-visible {
  border: 2px solid var(--color-sub);
  outline: none;
}

.contact-contacts {
  border-spacing: 3em 1em;
  margin: 0 auto;
}

.contact-contacts img {
  width: 32px;
  vertical-align: middle;
}

.contact-contacts th {
  padding-right: 3em;
  border-right: 4px solid var(--color-light-bd);
  color: var(--color-dark);
  font-size: var(--font-size-text);
  font-weight: bold;
}

.contact-contacts td {
  text-align: left;
}

.contact-contacts a:hover {
  color: var(--color-emph);
  text-decoration: underline;
}

@media (max-width: 768px) {
  input[type=radio] {
    padding: 0.8em 2em;
  }
  #ct-1::after {
    content: '연락처'
  }
  #ct-2::after {
    content: '메시지'
  }
  .contact-leave {
    flex-direction: column;
  }
  .contact-leave textarea,
  .contact-leave input[type=email] {
    width: 80vw;
  }
}

@media (min-width: 769px) {
  .contact-leave textarea,
  .contact-leave input[type=email] {
    width: 360px;
  }
}